.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fc .fc-button-primary {
  color: #fff;
  color: var(--fc-button-text-color, #fff);
  background-color: #e0d31d;
  background-color: var(--fc-button-bg-color, #dce80a);
  border-color: #2C3E50;
  border-color: var(--fc-button-border-color, #a9ac14)
}

.fc-right button{
  text-transform: uppercase;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 600;
  transition: box-shadow linear 0.4s;
  background-color: #2196F3;
  border-color: #2196F3;
  margin-top: 10px;
}

@media screen and (max-width:767px) { .fc-toolbar.fc-header-toolbar {font-size: 90%; display:flex; flex-direction:column; gap: 8px }}
